[core]
	excludesFile = ~/.gitignore_global
	autocrlf = false
	filemode = true
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all

# Ensign
[includeIf "gitdir:~/Projects/Ensign/"]
path = ~/Projects/Ensign/.gitconfig

# Personal
[includeIf "gitdir:~/Projects/Personal/"]
path = ~/Projects/Personal/.gitconfig

# PracticeFront
[includeIf "gitdir:~/Projects/PracticeFront/"]
path = ~/Projects/PracticeFront/.gitconfig

# VCom
[includeIf "gitdir:~/Projects/VCom/"]
path = ~/Projects/VCom/.gitconfig

# NextSpark
[includeIf "gitdir:~/Projects/NextSpark/"]
path = ~/Projects/NextSpark/.gitconfig
